<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='Mappers.ProductoMapper'>
    <select id='getProductoById' parameterType='integer' resultType='Producto'>
        SELECT
        id as id,
        nombre as nombre ,
        precio as precio,
        cantidad as cantidad,
        proveedor_id as proveedor.id
        FROM producto
        WHERE id = #{id}
    </select>
    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
    <resultMap type='Producto' id='ProductoResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='precio' column='precio'/>
        <result property='cantidad' column='cantidad'/>
        <result property='proveedor.id' column='proveedor_id'/>

    </resultMap>
    <select id='getAllProductos' resultMap='ProductoResult'>
        SELECT * FROM producto
    </select>
    <insert id='insertProducto' parameterType='Producto' useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO PRODUCTO (nombre, precio, cantidad, proveedor_id)
        VALUES(#{nombre}, #{precio}, #{cantidad}, #{proveedor_id})
    </insert>
    <update id='updateProducto' parameterType='Producto'>
        UPDATE producto
        SET
        NOMBRE= #{nombre},
       PRECIO = #{precio},
       cantidad = #{cantidad},
       PROVEEDOR_ID = #{proveedor_id}


        WHERE ID = #{id}
    </update>
    <delete id='deleteProducto' parameterType='integer'>
        DELETE FROM PRODUCTO WHERE id = #{id}
    </delete>
</mapper>
