<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='Mappers.ProductoMapper'>
    <select id='getProductoById' parameterType='long' resultType='JPA.ProductoEntity'>
        SELECT
        id as id,
        nombre as nombre ,
        precio as precio,
        cantidad as cantidad,
        proveedor_id as proveedor.id
        FROM producto
        WHERE id = #{id}
    </select>
    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
    <resultMap type='ProductoEntity' id='ProductoResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='precio' column='precio'/>
        <result property='cantidad' column='cantidad'/>
        <result property='proveedor.id' column='proveedor_id'/>

    </resultMap>
    <select id='getAllProductos' resultMap='ProductoResult'>
        SELECT * FROM producto
    </select>
    <insert id='insertProducto' parameterType='Producto' useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO USER(nombre, saldo)
        VALUES(#{nombre}, #{saldo})
    </insert>
    <update id='updateProducto' parameterType='Producto'>
        UPDATE producto
        SET
        NOMBRE= #{nombre},
        SALDO = #{saldo},

        WHERE ID = #{id}
    </update>
    <delete id='deleteProducto' parameterType='long'>
        DELETE FROM USER WHERE id = #{id
    </delete>
</mapper>
