<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='Mappers.ProductoMapper'>
    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
    <resultMap type='Producto' id='ProductoResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='precio' column='precio'/>
        <result property='cantidad' column='cantidad'/>
        <association property="proveedor" column="proveedor_id"
                     resultMap="ProveedorResult"/>

    </resultMap>
    <resultMap id="ProveedorResult" type="Proveedor">
        <id property="id" column="proveedor_id"/>
        <result property='nombre' column='proveedor_name'/>
    </resultMap>
    <select id='getProductoById' parameterType='integer' resultMap='ProductoResult'>
        SELECT
        producto.id,
        producto.nombre ,
        precio,
        cantidad,
        proveedor_id,
        proveedor.nombre proveedor_name
        FROM producto  left outer JOIN  proveedor On proveedor.id = producto.proveedor_id
        WHERE producto.id = #{id}
    </select>

    <select id='getAllProductosByProveedorId' parameterType='int' resultMap='ProductoResult'>
        SELECT
        producto.id,
        producto.nombre ,
        precio,
        cantidad,
        proveedor_id,
        proveedor.nombre proveedor_name
        FROM producto  left outer JOIN  proveedor On proveedor.id = producto.proveedor_id
        WHERE producto.proveedor_id = #{proveedor_id}
    </select>

    <select id='getAllProductos' fetchSize="2" useCache="false" resultMap='ProductoResult'>
        SELECT * FROM producto left outer JOIN  proveedor On proveedor.id = producto.proveedor_id
    </select>
    <insert id='insertProducto' parameterType='Producto' useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO PRODUCTO (nombre, precio, cantidad, proveedor_id)
        VALUES(#{nombre}, #{precio}, #{cantidad}, #{proveedor.id})
    </insert>
    <update id='updateProducto' parameterType='Producto'>
        UPDATE producto
        SET
        NOMBRE= #{nombre},
       PRECIO = #{precio},
       cantidad = #{cantidad},
       PROVEEDOR_ID = #{proveedor.id}


        WHERE ID = #{id}
    </update>
    <delete id='deleteProducto' parameterType='integer'>
        DELETE FROM PRODUCTO WHERE id = #{id}
    </delete>
</mapper>
