<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='Mappers.ProductoDuplicadoMapper'>
    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
    <resultMap type='ProductoDuplicado' id='ProductoDuplicadoResult'>
        <id property='id' column='id'/>
        <result property='cantidad' column='cantidad'/>
        <association property="producto" column="producto_id"
                     resultMap="ProductoResult"/>

    </resultMap>
    <resultMap id="ProductoResult" type="Producto">
        <id property="id" column="cod_producto"/>
        <result property='nombre' column='producto_name'/>
    </resultMap>
    <select id='getProductoDuplicadoById' parameterType='integer' resultMap='ProductoDuplicadoResult'>
        SELECT
        producto_duplicado.id,
        producto_duplicado.nombre ,
        precio,
        cantidad,
        cod_producto,
        producto.nombre producto_name
        FROM productoDuplicado  left outer JOIN  producto On producto.id = productoDuplicado.cod_producto
        WHERE productoDuplicado.id = #{id}
    </select>



    <select id='getAllProductoDuplicados'  resultMap='ProductoDuplicadoResult'>
        SELECT * FROM producto_duplicado left outer JOIN  producto On producto.id = productoDuplicado.cod_producto
    </select>
    <insert id='insertProductoDuplicado' parameterType='ProductoDuplicado' useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO producto_duplicado ( cantidad, cod_producto)
        VALUES(#{cantidad}, #{producto.id})
    </insert>
    <update id='updateProductoDuplicado' parameterType='ProductoDuplicado'>
        UPDATE productoDuplicado
        SET
       cantidad = #{cantidad},
        cod_producto = #{producto.id}


        WHERE ID = #{id}
    </update>
    <delete id='deleteProductoDuplicado' parameterType='integer'>
        DELETE FROM producto_duplicado WHERE id = #{id}
    </delete>
</mapper>
