<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='Mappers.ProveedorMapper'>
    <select id='getProveedorById' parameterType='int' resultType='Proveedor'>
        SELECT
        id as id,
        nombre as nombre
        FROM proveedor
        WHERE id = #{id}
    </select>
    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
    <resultMap type='Proveedor' id='ProveedorResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>


    </resultMap>
    <select id='getAllProveedores' resultMap='ProveedorResult'>
        SELECT * FROM proveedor
    </select>
    <insert id='insertProveedor' parameterType='Proveedor' useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO PROVEEDOR(nombre)
        VALUES(#{nombre})
    </insert>
    <update id='updateProveedor' parameterType='Proveedor'>
        UPDATE proveedor
        SET
        NOMBRE= #{nombre},


        WHERE ID = #{id}
    </update>
    <delete id='deleteProveedor' parameterType='integer'>
        DELETE FROM PROVEEDOR WHERE id = #{id}
    </delete>
</mapper>
