<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="JPA.ClienteEntity" alias="Cliente"></typeAlias>
        <typeAlias type="JPA.ProveedorEntity" alias="Proveedor"></typeAlias>
        <typeAlias type="JPA.ProductoEntity" alias="Producto"></typeAlias>
        <typeAlias type="JPA.DetalleCompraEntity" alias="DetalleCompra"></typeAlias>
        <typeAlias type="JPA.DetalleVentaEntity" alias="DetalleVenta"></typeAlias>
        <typeAlias type="JPA.CompraEntity" alias="Compra"></typeAlias>
        <typeAlias type="JPA.VentaEntity" alias="Venta"></typeAlias>
        <typeAlias type="JPA.PagoEntity" alias="Pago"></typeAlias>
        <typeAlias type="JPA.ProductoDuplicadoEntity" alias="ProductoDuplicado"></typeAlias>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:/tp1"/>
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/tp1"/>
                <property name="username" value="postgres"/>
                <property name="password" value="postgres"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="Mappers/ClienteMapper.xml"/>
        <mapper resource="Mappers/ProveedorMapper.xml"/>
        <mapper resource="Mappers/ProductoMapper.xml"/>
        <mapper resource="Mappers/DetalleCompraMapper.xml"/>
        <mapper resource="Mappers/DetalleVentaMapper.xml"/>
        <mapper resource="Mappers/CompraMapper.xml"/>
        <mapper resource="Mappers/VentaMapper.xml"/>
        <mapper resource="Mappers/PagoMapper.xml"/>
        <mapper resource="Mappers/ProductoDuplicadoMapper.xml"/>
    </mappers>
</configuration>
